The **groupby** function is used to split a dataset into groups based on some criteria, apply a function (such as aggregation), and then combine the results back into a structured form. It’s a very useful tool for analyzing data, especially when you need to perform operations like summing, averaging, or counting data within subsets.

Key Operations with groupby: **bold text**
*  Splitting: Divide the data into groups based on some criteria (such as a column's unique values).
* Applying: Perform a function (e.g., mean, sum, count) on each group.
* Combining: Combine the results back into a final output.

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [3]:
# Sample DataFrame
data = {
    'Category': ['A', 'B', 'A', 'B', 'A', 'B'],
    'Value': [10, 20, 30, 40, 50, 60]
}
df = pd.DataFrame(data)

# Using groupby
grouped = df.groupby('Category')['Value'].sum()
print(grouped)

Category
A     90
B    120
Name: Value, dtype: int64

**Correlation** -  strength and direction of the relationship between two variables. It quantifies how much one variable changes when another variable changes. Correlation is used to identify patterns, trends, and dependencies between two or more variables in data.

**Magnitude**: The strength of the correlation, ranging from -1 to 1.
*   +1: Perfect positive correlation — as one variable increases, the other also increases in a perfectly linear manner.
*   -1: Perfect negative correlation — as one variable increases, the other decreases in a perfectly linear manner.
*   0: No correlation — no linear relationship exists between the variables

**Direction**:
*   Positive Correlation: When one variable increases, the other variable also tends to increase.
*   Negative Correlation: When one variable increases, the other variable tends to decrease.
*   Zero Correlation: No discernible linear relationship between the two variables.

In [ ]:
# sns.heatmap{corr, cmap='RdBu', vmin=1, vmax=1, annot=True,
#             annot_kws={'frontsize':11, 'fontweight':'bold'}}

**Data Profiling and Summary Statistics**
*   Objective: Get an overview of each feature in the dataset.
*   Steps:
         *   View data structure, data types, and missing values.
         *   Calculate basic summary statistics (mean, median, standard deviation, etc.) for numerical features.

In [5]:
np.random.seed(0)
data = {
    'Age': np.random.randint(18, 70, size=100),
    'Salary': np.random.normal(50000, 12000, size=100),
    'Department': np.random.choice(['HR', 'Engineering', 'Marketing', 'Sales'], size=100),
    'Years_of_Experience': np.random.randint(1, 40, size=100),
    'Marital_Status': np.random.choice(['Single', 'Married', 'Divorced'], size=100)
}

# Convert the columns to float before introducing NaN values
data['Years_of_Experience'] = data['Years_of_Experience'].astype(float)

# Introduce missing values
data['Salary'][5:10] = np.nan
data['Years_of_Experience'][15:20] = np.nan

In [6]:
df = pd.DataFrame(data)

# 1. View data structure and data types
print("Data Structure and Data Types:")
print(df.info())

Data Structure and Data Types:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  100 non-null    int32
 1   Salary               95 non-null     float64
 2   Department           100 non-null    object
 3   Years_of_Experience  95 non-null     float64
 4   Marital_Status       100 non-null    object
dtypes: float64(2), int32(1), object(2)
memory usage: 3.6+ KB
None

In [7]:
#Check for missing values
print("Missing Values by Column:")
print(df.isnull().sum())

Missing Values by Column:
Age                    0
Salary                 5
Department             0
Years_of_Experience    5
Marital_Status         0
dtype: int64

In [8]:
#Calculate basic summary statistics for numerical features
print("Summary Statistics for Numerical Features:")
print(df.describe())  # Provides count, mean, std, min, 25%, 50%, 75%, max for each numerical column
print("\n")

Summary Statistics for Numerical Features:
              Age        Salary  Years_of_Experience
count  100.000000     95.000000            95.000000
mean    41.570000  49409.527745            20.052632
std     15.537023  11907.645421            11.468151
min     18.000000  21943.446189             1.000000
25%     29.000000  41639.829223             9.500000
50%     41.000000  49470.651105            21.000000
75%     55.250000  55919.205681            29.500000
max     69.000000  77932.857310            39.000000

In [9]:
#Additional descriptive statistics (median, for example)
print("Median of Numerical Features:")
print(df.median(numeric_only=True))  # 'numeric_only=True' ensures non-numeric columns are ignored

Median of Numerical Features:
Age                       41.000000
Salary                 49470.651105
Years_of_Experience       21.000000
dtype: float64